#is-science .page {
    background-color: var(--dark-bg) !important;
}

#is-science #menu-button {
    background-color: var(--light-bg) !important;
}

#is-science #menu-piece-left, #is-science #menu-piece-right {
    background-color: #131313 !important;
    background: none;
}

#is-science .transition-piece {
    display: none;
}

#science-landing {
    width: 100vw;
    height: 100vh;
    padding: 128px;
}

#science-title {
    color: var(--dark-mode-text-primary);
    font-family: Monument;
    font-size: 128px;
}